- name: Login to ECR
  run: |
    aws ecr get-login-password --region ap-south-2 | \
    docker login --username AWS --password-stdin ${{ secrets.ECR_REGISTRY }}

- name: Build and Push Image
  run: |
    docker build \
      -t ${{ secrets.ECR_REGISTRY }}/strapi:${IMAGE_TAG} \
      -f strapi/Dockerfile \
      strapi

    docker push ${{ secrets.ECR_REGISTRY }}/strapi:${IMAGE_TAG}

- name: Terraform Apply
  run: |
    cd terraform
    terraform init
    terraform apply -auto-approve \
      -var="ecr_repo=${{ secrets.ECR_REGISTRY }}/strapi:${IMAGE_TAG}"

- name: Force ECS Service Update
  run: |
    aws ecs update-service \
      --cluster strapi-cluster \
      --service strapi-service \
      --force-new-deployment
