name: Strapi Full CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-2
      IMAGE_TAG: ${{ github.sha }}

    steps:
    - uses: actions/checkout@v3

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-2

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region ap-south-2 | \
        docker login --username AWS --password-stdin 055013504553.dkr.ecr.ap-south-2.amazonaws.com

    - name: Build and Push Image
      run: |
        docker build -t 055013504553.dkr.ecr.ap-south-2.amazonaws.com/strapi:latest -f strapi/Dockerfile strapi
        docker push 055013504553.dkr.ecr.ap-south-2.amazonaws.com/strapi:latest

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Apply
      run: |
        cd terraform
        terraform init
        terraform apply -auto-approve
