name: Deploy Strapi to ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          docker build -t strapi ./strapi
          docker tag strapi:latest ${{ steps.login-ecr.outputs.registry }}/strapi:latest

      - name: Push Docker image to ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/strapi:latest

      - name: Wait for ECS cluster to be ACTIVE
        run: |
          echo "Waiting for ECS cluster to become ACTIVE..."
          aws ecs wait cluster-active --clusters strapi-cluster

      - name: Deploy to ECS
        run: |
          aws ecs update-service \
            --cluster strapi-cluster \
            --service strapi-service \
            --force-new-deployment
